			
				<div class="row">
		        	<div class="col-md-2">
		        		<a href="{url-website}"><img src="{url}img/logo-sclusib.png" class="logo"></a>
		        	</div>
		        	<div class="col-md-10">
						<div id="menu-toggle-btn">
						    <span class="menu-line"></span>
						    <span class="menu-line"></span>
						    <span class="menu-line"></span>
						</div>
		        		<ul class="nav nav-pills mtop">
							<li><a href="{url}#talentos">Ya están en sclusib</a></li>
							<li><a href="{url}top/">Top 100</a></li>
							<li><a href="{url}blog/">Blog</a></li>							
							<li class="active"><a href="{url}unete/">¿Eres influencer?</a></li>
						</ul>		        		
		        	</div>	        	
		        </div>
