html { 	
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color:#000;
	padding: 0px;
	margin: 0px;	
}
#logo{		
	width:250px;	
	height: 60px; 	
	margin-bottom:40%;		
}
h1{	
	font-size:3em;	
	color:#000;	
	text-shadow: 0px 0px 3px #FFFFFF;
	line-height:1;	
	margin-bottom: 30px;	
}
h2{
	
	font-size:1.2em;	
	color:#000;
	font-weight: 400;
	line-height: 1.5em;		
}
#primeraEtapa{	
	background: url(../img/bg1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
}

#contenido-wrap{	
	width:35%;
	float:left;
	margin-top:5%;
	margin-left:15%;	
	position:relative;
}
#mano-wrap{		
	margin:0px;
	margin-left:55%;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:10%;
	width:40%;	
	z-index:666;		
}
#segundaEtapa{	
	background: url(../img/bg2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	z-index:999;		
}
#contenido-segundaEtapa{
	width:45%;	
	padding-top:30%;
	padding-bottom:15%;
	margin-left:40%;		
}
#mockup-segundaEtapa{
	float:left;
	width:20%;
	margin-left:10%;
	padding-top:10%;		
}
	
#terceraEtapa{	
	background: url(../img/bg3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding:0px;
	margin:0px;			
}

#contenido-terceraEtapa{	
	width:35%;
	float:left;
	margin-top:25%;	
	margin-left:15%;	
	position:relative;	
}
#mockup-terceraEtapa{	
	margin:0px;
	margin-left:65%;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:10%;
	width:20%;	
	z-index:666;	
}




#cuartaEtapa{	
	background: url(../img/bg4.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	z-index:999;		
}
#contenido-cuartaEtapa{
	width:45%;	
	padding-top:30%;
	padding-bottom:15%;
	margin-left:45%;		
}
#mockup-cuartaEtapa{
	float:left;
	width:25%;
	margin-left:10%;
	padding-top:10%;		
}

	
#quintaEtapa{	
	background: url(../img/bg5.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding:0px;
	margin:0px;			
}

#contenido-quintaEtapa{	
	width:35%;
	float:left;
	margin-top:10%;	
	margin-left:10%;	
	position:relative;	
}
#mapa-quintaEtapa{	
	margin:0px;
	margin-left:55%;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:10%;
	width:40%;	
	z-index:666;
	padding-bottom: 15%;	
}

#contenido-quintaEtapa input{
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 5%;
	width: 60%;
	color:#ff1d58;
	border:0px;
	outline: none;
	border:1px solid #ff1d58;
}
#contenido-quintaEtapa input[type=submit]{
	background-color: #ff1d58;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 5%;
	width: 25%;
	color:#FFF;
	border:0px;
	border:1px solid #ff1d58;
}
#contenido-quintaEtapa a{
	color:#ff1d58;
	text-decoration: none;
}
#contenido-quintaEtapa a:hover{
	
}
.clear{
	clear:both;
}


	

@media all and (max-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 800px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 1000px) {  body  { font-size:0.8em;  } }
@media all and (min-width: 1100px) {  body  { font-size:0.9em;  } }
@media all and (min-width: 1200px) {  body  { font-size:1em;  } }
	
	