html { 	
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
}
body{
	font-family:"Open Sans Condensed";
	font-size: 14px;
	background-color:#000;
	padding: 0px;
	margin: 0px;	
}
#logo{		
	width:250px;	
	height: 60px; 	
	margin-bottom:30%;		
}
h1{	
	font-size:4em;	
	color:#000;	
	text-shadow: 0px 0px 3px #FFFFFF;
	line-height:1;		
}
h2{
	font-size:2em;	
	color:#FFF;
	text-shadow: 0px 0px 3px #000;			
}
#primeraEtapa{	
	background: url(../img/bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
}

#contenido-wrap{	
	width:35%;
	float:left;
	margin-top:5%;
	margin-left:15%;	
	position:relative;
}
#mano-wrap{		
	margin:0px;
	margin-left:55%;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:50px;
	width:40%;	
	z-index:666;		
}
#segundaEtapa{	
	background: url(../img/bg2.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	z-index:999;		
}
#contenido-segundaEtapa{
	width:55%;	
	padding-top:20%;
	padding-bottom:15%;
	margin-left:40%;		
}
#mockup-segundaEtapa{
	float:left;
	width:20%;
	margin-left:10%;		
}
	
#terceraEtapa{	
	background-color:#FFF;
	padding:0px;
	margin:0px;			
}

#contenido-terceraEtapa{	
	width:35%;
	float:left;
	margin-top:15%;	
	margin-left:15%;	
	position:relative;	
}
#mockup-terceraEtapa{	
	margin:0px;
	margin-left:65%;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:0px;
	width:30%;	
	z-index:666;	
}

#terceraEtapa h2{
	color:#000;
	text-shadow: none;
}

#cuartaEtapa{	
	background-color:#FFF;
	padding:0px;
	margin:0px;	
	width:400px;		
}

.clear{
	clear:both;
}


	

@media all and (max-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 800px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 1000px) {  body  { font-size:0.8em;  } }
@media all and (min-width: 1100px) {  body  { font-size:0.9em;  } }
@media all and (min-width: 1200px) {  body  { font-size:1em;  } }
	
	