html { 	
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 6px;
	background-color:white;
	padding: 0px;
	margin: 0px;	
}
#logo{		
	width:50%;	
	 	
	padding-bottom:20%;	
}
#logo-pie{		
	width:30%;
	margin: 3% 0;	
}
h1{	
	font-size:4em;
	font-weight: 900;	
	color:#000;	
	text-shadow: 0px 0px 3px #FFFFFF;
	line-height:1;	
	margin-bottom: 30px;	
}
h2{	
	font-size:1.5em;	
	color:#000;	
	font-weight: 300;
	line-height: 1.5em;		
}
.contenedor{
	width:90%;
	padding:5%;
}
#primeraEtapa{	
	background: url(../img/bg1.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	position:relative;
}
#primerParallax{
	background: url(../img/bg15.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5%;
}
.boton{
	padding: 2%;
	border:3px solid #000;
	margin: 0 auto;
	width: 30%;
	text-align: center;
}
#contenido-primeraEtapa{	
	width:50%;
	margin-bottom:10%;		
}
#icono-primeraEtapa{
	display:none;
}
#mockup-primeraEtapaMovil{
	display:none;
}
#mockup-primeraEtapa{		
	margin:0px;
	margin-left:60%;			
	width:40%;	
	z-index:666;
	position:absolute;
	bottom:0px;	
	right:5%;	
}
#segundaEtapa{	
	background: url(../img/bg2.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;
	position:relative;			
}
#contenido-segundaEtapa{
	width:50%;		
	margin:0;
	padding:0;
	margin-left:10%;
	float:left;		
	position:absolute;
	bottom:20%;	
	right:5%;
}
#mockup-segundaEtapa{	
	width:40%;
	float:left;		
	margin:0;
	padding:0;		
}
#icono-segundaEtapa{
	display:none;
}	
#terceraEtapa{	
	background: url(../img/bg3.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding:0px;
	margin:0px;		
	position:relative;		
}

#contenido-terceraEtapa{	
	width:50%;
	margin-bottom:10%;	
	position:absolute;
	bottom:0px;	
	left:5%;		
}
#mockup-terceraEtapa{	
	margin:0px;
	margin-left:60%;			
	width:40%;	
	z-index:666;
	
}


#segundoParallax{
	background: url(../img/bg45.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5%;
}

#cuartaEtapa{	
	background: url(../img/bg4.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	position:relative;			
}
#mockup-cuartaEtapaMovil{
	display:none;
}
#contenido-cuartaEtapa{
	width:50%;		
	margin:0;
	padding:0;
	margin-left:10%;
	float:left;		
	position:absolute;
	bottom:20%;	
	right:5%;		
}
#mockup-cuartaEtapa{
	width:40%;
	float:left;		
	margin:0;
	padding:0;		
}

	
#quintaEtapa{	
	background: url(../img/bg5.jpg) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding:0px;
	margin:0px;			
}

#contenido-quintaEtapa{	
	width:35%;
	float:left;
	margin-top:10%;	
	margin-left:10%;	
	position:relative;	
}
#mapa-quintaEtapa{	
	margin:0px;
	margin-left:55%;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:10%;
	width:40%;	
	z-index:666;
	padding-bottom: 15%;	
}

#contenido-quintaEtapa input{
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 5%;
	width: 60%;
	color:#ff1d58;
	border:0px;
	outline: none;
	border:1px solid #ff1d58;
}
#contenido-quintaEtapa input[type=submit]{
	background-color: #ff1d58;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 5%;
	width: 25%;
	color:#FFF;
	border:0px;
	border:1px solid #ff1d58;
}
#contenido-quintaEtapa a{
	color:#ff1d58;
	text-decoration: none;
}
#contenido-quintaEtapa a:hover{
	
}
#sextaEtapa{	
	background-color:#FAFAFA;
	padding:0px;
	margin:0px;			
}

#contenido-sextaEtapa{	
	
}
#mapa-sextaEtapa{	
	margin:0px;
	padding-bottom: 15%;	
}

#quintaEtapa{	
	background-color:#FAFAFA;
	padding:0px;
	margin:0px;			
}
#equipo-quintaEtapa{
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}
.miembro{
	width: 27%;
	padding: 0 3%;
	float:left;
}
.miembro img{
	padding-bottom: 20px;
}

.miembro h1{
	font-size:1.5em;
	font-weight: 300;	
	color:#000;		
	margin-bottom: 10px;
}
.miembro h2{
	font-size:1.5em;	
	color:#000;
	font-weight: 900;	
	margin-bottom: 20px;
}
miembro-info{
	margin-top: 10px;	
	
}
#sextaEtapa{	
	background: url(../img/bg5.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding:0px;
	margin:0px;			
}

#contenido-sextaEtapa{	
	margin-top:10%;	
	padding-bottom: 10%;
	float:left;
	width:40%;
}
#mapa-sextaEtapa{	
	width:50%;
	margin:0px;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:10%;
	padding-bottom: 15%;
	float:left;	
	margin-left:10%;
}

#contenido-sextaEtapa input{
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 2%;
	width: 70%;
	color:#ff1d58;
	border:0px;
	outline: none;
	border:1px solid #ff1d58;
}
#contenido-sextaEtapa input[type=submit]{
	background-color: #ff1d58;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 2%;
	width: 25%;
	color:#FFF;
	border:1px solid #ff1d58;
	margin: 0 auto;
	margin-top: 15px;
	
}
#contenido-sextaEtapa a{
	color:#ff1d58;
	text-decoration: none;
}
#contenido-sextaEtapa a:hover{
	
}
.clear{
	clear:both;
}
.social{	
	margin-right: 10px;
	float: left;
	width: 40px;
}
.clear{
	clear:both;
}
.notificacion{
	background-color: #ff1d58;
	position:fixed;	
	padding:50px;
	left:50%;
	margin-left: -20%;
	margin-top:15%;
	width:40%;
	border-radius: 5px;
	text-align:center;	
	color:#FFF;		
	z-index:1000;
}
.notificacion b{	
	font-weight:bold;
	text-transform: uppercase;
	font-size: 1.3em;
}
.notificacion p{
	font-size:0.8em;
	margin-top:10px;	
}

a{
	text-decoration:none;
}	

@media all and (max-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 800px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 1000px) {  body  { font-size:0.8em;  } }
@media all and (min-width: 1100px) {  body  { font-size:0.9em;  } }
@media all and (min-width: 1200px) {  body  { font-size:1em;  } }
	
	