html { 	
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	background-color:white;
	padding: 0px;
	margin: 0px;	
	background-color: #FAFAFA;
}
#logo{		
	width:80%;	
	padding: 10%;
}
#logo-pie{		
	width:50%;
	margin: 10% 25%;	
}
h1{	
	font-size:4em;
	font-weight: 900;	
	color:#000;	
	text-shadow: 0px 0px 3px #FFFFFF;
	line-height:1;	
	margin-bottom: 10px;	
	text-align: center;
}
h2{	
	font-size:2em;	
	color:#000;
	font-weight: 700;
	text-align: center;
	
}
h3{
	font-size:2em;	
	color:#000;	
	padding-top: 20px;
	font-weight: 300;
	line-height: 1.5em;	
	text-align: center;	
}
h4{
	font-size:2em;	
	color:#000;	
	font-weight: 300;
	text-align: center;	
}
.contenedor{
	width:90%;
	padding:0 5%;
	padding-top: 5%;
}

#primeraEtapa{	
	background: url(../img/bg1.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	position:relative;
	width:100%;
}

#contenido-primeraEtapa{	
	margin-bottom:5%;
	padding-top: 450px;
	padding-bottom: 40px;
}
#icono-primeraEtapa{	
	margin:0;
	padding:0;	
	padding-bottom: 5%;	
	width:60%;
	margin:0 auto;
	display:none;
}
#mockup-primeraEtapa{		
	margin:0px;	
	padding-top:5%;
	display: none;
	
}
#mockup-primeraEtapaMovil{
	position: absolute;
	top:150px;
}
#primerParallax{
	background: url(../img/bg15.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5%;
}
.boton{
	padding: 2%;
	border:3px solid #000;
	margin: 0 auto;
	font-size:2em;
	width: 80%;
	text-align: center;
}
#segundaEtapa{	
	background: url(../img/bg2.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;
	position:relative;			
}
#contenido-segundaEtapa{	
	margin:0;
	padding:0;
}
#icono-segundaEtapa{	
	margin:0;
	padding:0;	
	padding-bottom: 5%;	
	width:60%;
	margin:0 auto;
}
#mockup-segundaEtapa{	
	margin:0;
	padding:0;	
	padding-bottom: 5%;	
	display:none;
}
	
#terceraEtapa{	
	background: url(../img/bg3.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding:0px;
	margin:0px;		
	position:relative;		
}

#contenido-terceraEtapa{	
	
	margin-bottom:10%;	
		
}
#mockup-terceraEtapa{	
	margin:0px;
	padding-bottom: 5%;
}

#cuartaEtapa{	
	background: url(../img/bg4.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	position:relative;			
}
#contenido-cuartaEtapa{		
	margin:0;
	padding:20px 0;	
	position: absolute;
	top:0;
	
}
#mockup-cuartaEtapa{	
	margin:0;
	padding:0;		
	display: none;
	
}
#mockup-cuartaEtapaMovil{
	padding-top: 300px;
}
#segundoParallax{
	background: url(../img/bg45.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 5%;
}
#sextaEtapa{	
	background-color:#FAFAFA;
	padding:0px;
	margin:0px;			
}

#contenido-sextaEtapa{	
	
}
#mapa-sextaEtapa{	
	margin:0px;
	padding-bottom: 15%;	
}

#quintaEtapa{	
	background-color:#FAFAFA;
	padding:0px;
	margin:0px;			
}
#equipo-quintaEtapa{
	padding-bottom: 10%;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}
.miembro{
	width: 80%;
	padding: 0 10%;
}
.miembro img{
	padding-bottom: 20px;
}

.miembro h1{
	font-size:2em;
	font-weight: 300;	
	color:#000;		
	margin-bottom: 10px;
}
.miembro h2{
	font-size:2em;	
	color:#000;
	font-weight: 900;
	text-align: center;
	margin-bottom: 20px;
}
miembro-info{
	margin-top: 10px;
	text-align: center;
	
}
#sextaEtapa{	
	background: url(../img/bg5.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#FFF;
	padding:0px;
	margin:0px;			
}

#contenido-sextaEtapa{	
	margin-top:10%;	
	padding-bottom: 10%;
}
#mapa-sextaEtapa{	
	margin:0px;
	margin-bottom:-5px;	
	padding:0px;
	padding-top:10%;
	padding-bottom: 15%;
	display: none;	
}

#contenido-sextaEtapa input{
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 2%;
	width: 96%;
	color:#ff1d58;
	border:0px;
	outline: none;
	border:1px solid #ff1d58;
}
#contenido-sextaEtapa input[type=submit]{
	background-color: #ff1d58;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 2%;
	width: 25%;
	color:#FFF;
	border:1px solid #ff1d58;
	margin: 0 auto;
	margin-top: 15px;
	
}
#contenido-sextaEtapa a{
	color:#ff1d58;
	text-decoration: none;
}
#contenido-sextaEtapa a:hover{
	
}
.clear{
	clear:both;
}
.social{
	margin-left: 10%;
	margin-right: 10%;
	float: left;
	width: 13%;
}
.notificacion{
	background-color: #ff1d58;
	position:fixed;	
	padding:10%;
	left:50%;
	margin-left: -30%;
	margin-top:15%;
	width:40%;
	border-radius: 5px;
	text-align:center;	
	color:#FFF;		
	z-index:1000;
}
.notificacion b{	
	font-weight:bold;
	text-transform: uppercase;
	font-size: 2.5em;
}
.notificacion p{
	font-size:2em;
	margin-top:10px;	
}
	
a{
	text-decoration:none;
}


@media all and (max-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 800px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 1000px) {  body  { font-size:0.8em;  } }
@media all and (min-width: 1100px) {  body  { font-size:0.9em;  } }
@media all and (min-width: 1200px) {  body  { font-size:1em;  } }
	
	