<h1>MOBILE PRIVACY POLICY SCLUSIB (AD-SPONSORED APPS) </h1>

<p>This privacy policy governs your use of the software application Sclusib (“Application”) for mobile devices that was created by Sclusib Studio S.L.. The Application brings idols and fans closer. </p>

<p>What information does the Application obtain and how is it used? </p>
<b>User Provided Information </b>
<p>The Application obtains the information you provide when you download and register the Application. Registration with us is optional. However, please keep in mind that you may not be able to use some of the features offered by the Application unless you register with us. 
When you register with us and use the Application, you generally provide (a) your name, email address, age, user name, password and other registration information; (b) transaction-related information, such as when you make purchases, respond to any offers, or download or use applications from us; (c) information you provide us when you contact us for help; (d) credit card information for purchase and use of the Application, and; (e) information you enter into our system when using the Application, such as contact information and project management information. </p>
<p>We may also use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions. </p>

<b>Automatically Collected Information </b>
<p>In addition, the Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application. </p>

Does the Application collect precise real time location information of the device? <br/>
This Application does not collect precise information about the location of your mobile device. </p>

<b>Do third parties see and/or have access to information obtained by the Application?</b><br/>

Yes. We will share your information with third parties only in the ways that are described in this privacy statement. 
We may disclose User Provided and Automatically Collected Information: 
<ul>
<li>As required by law, such as to comply with a subpoena, or similar legal process; </li>
<li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request; </li>
<li>With our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</li> 
<li>If Sclusib Studio S.L. is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information. </li>
<li>To advertisers and third party advertising networks and analytics companies as described in the section below </li>
</ul>
<b>Automatic Data Collection and Advertising </b><br/>
<p>We may work with analytics companies to help us understand how the Application is being used, such as the frequency and duration of usage. We work with advertisers and third party advertising networks, who need to know how you interact with advertising provided in the Application which helps us keep the cost of the Application free. Advertisers and advertising networks use some of the information collected by the Application, including, but not limited to, the unique identification ID of your mobile device and your mobile telephone number. To protect the anonymity of this information, we use an encryption technology to help ensure that these third parties can’t identify you personally. These third parties may also obtain anonymous information about other applications you’ve downloaded to your mobile device, the mobile websites you visit, your non-precise location information (e.g., your zip code), and other non- precise location information in order to help analyze and serve anonymous targeted advertising on the Application and elsewhere. We may also share encrypted versions of information you have provided in order to enable our partners to append other available information about you for analysis or advertising related use. </p>
<p>
If you’d like to opt-out from third party use of this type of information to help serve targeted advertising, please visit the section entitled “Opt-out” below. 
</p>

<b>What are my opt-out rights? </b><br/>
There are multiple opt-out options for users of this Application: 
<ul>
<li>Opt-out of all information collection by uninstalling the Application: You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at hola@sclusib.com. </li>
<li>Opt-out from the use of information to serve targeted advertising by advertisers and/or third party network advertisers: you may at any time opt-out from further allowing us to have access to your location data by adjusting your device settings.</li>
</ul>

<b>Notifications</b><br/>
<p>Notwithstanding anything else in this policy, we may work with partners who use mobile SDKs, including the OneSignal Messaging SDK, to passively collect information (collectively, “SDK Information”), which generally helps us deliver personalized notifications. This data may also be used to identify you in a unique manner across other devices or browsers for the purposes of customizing ads or content. Depending on the permissions granted to this application, this information may include personally identifiable information (PII) including your e-mail address. This information may also include precise location (i.e. GPS-level data) or WiFi information, apps you have installed and enabled, and your mobile identifier (e.g., Android Advertising ID).</p>
<b>Consumer Control & Opt-Out Options</b><br/>
a. Opting-out of OneSignal Push Notifications
You may in most cases opt out of receiving push notifications by going to your device “Settings” and clicking on “Notifications,” and then changing those settings for some or all of the apps on your device. (Different device configurations, or updates to devices, may affect or change how these settings work.)
<br/><br/>
b. Opting Out of “Cross-App” Advertising on Mobile Devices
You can opt out of having your mobile advertising identifiers used for certain types of interest-based (also called “cross-app”) mobile behavioral advertising, by accessing the “settings” on your Apple or Android mobile device, as follows: By opening the Google Settings app on your device, selecting Ads, and then selecting the option to opt-out of interest-based ads. (Different device configurations, or updates to devices, may affect or change how these settings work.)
<br/><br/>
<b>Data Retention Policy, Managing Your Information </b>
<p>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at hola@sclusib.comand we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly. </p>

<b>Children </b>
<p>We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at hola@sclusib.com. We will delete such information from our files within a reasonable time. 
</p>
<b>Security </b>
<p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches. 
</p>
<b>Changes </b>
<p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here and informing you via email or text message. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. You can check the history of this policy by clicking here. 
</p>
<b>Your Consent </b>
<p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the Spain. If you reside outside the Spain your information will be transferred, processed and stored there under Spain privacy standards. 
</p>
<b>Contact us </b>
<p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at <a mailto="hola@sclusib.com">hola@sclusib.com</a>. 
</p>