				
	<div class="col-md-4 card_register">
		<div class="row">					
			<div class="col-md-3">
				<div class="round">	
					<img src="{profile_picture}" width="50">
				</div>
			</div>
			<div class="col-md-9">
				Nombre de usuario : <b>{username}</b><br/>
				Seguidores : {followed_by}<br/>
				Seguidos : {follows}<br/>
				Fotos : {media}<br/>		
				Teléfono : {phone}<br/>
				Mail : {mail}<br/>
				<b>{accepted}</b><br/>
			</div>
		</div>
	</div>									
