{head}
<body>
<div class="header_static">	
	<div class="container">
		{menu}
	</div>
</div>
<div class="main_section color_front">	
	<div class="container">								
		<div class="space"></div>	
	</div>
</div>
<div class="main_section color_front">
	<div class="container">	
		<div class="space"></div>			
			<h2 class="register_h2">Registros</h2>												
		<div class="row">								
				{print}	
		</div>									
						
		</div>	
		<div class="space"></div>										
</div>  
</body>
</html>