@media (max-width:1200px){
  .influencer_top_wrap{
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background-color: #FFF;
  border-radius: 5px;
  font-size: 14px;
}
}
@media (max-width:991px){

/**************************************************/
.ranking-card{    
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  height: auto;
}
.name a{
  color:#000;
}
.col1{
  float: left;
  width: 20%;
  padding: 1%;
}
.col2{
  float: left;
  width: 68%;
  padding: 1%;  
  height: auto; 
}
.col3{
  float: left;
  width: 9%;
  padding: 1%;
  text-align: right;
}
.member .box{
  padding: 10%;
  font-size: 12px;
  height: 140px;
}
.ranking-pos{
  border-radius: 3px;
  background-color: #FA5568 ;  
  padding: 5px 15px;
  color:#FFF;
  width: 60px;
  margin-top: 5px;
  text-align: center;
}
.ranking-img {
  border-radius: 50%;  
  width: 60px;
  height: 60px;    
  float: none;
  position: static;
  margin-left: 0px;
}
.ranking-img img {
  display: block;
  min-width: 100%;
  min-height: 100%; 
  width: 60px;
  float: none;
}
.ranking-position{
	width: 40px;
  position: absolute;  
  right: 15px;
}
.followers{
  font-size: 12px;
  font-weight: bold;  
  padding: 10px 0;
}
.name{
  font-size: 16px;
  font-weight: bold;  
}
.desc{
  width: 100%;
  font-size: 12px;
}
.ad{
  text-align: center;   
  position:static;
  top:0;
  display: none;  
}
.mini{
  display: block;
  visibility: visible;
  height: auto;
  text-align: center;
  background-color: #e5e5e5;
}
.nav-pills{    
    display: none;        
}
/**************************************************/
#menu-toggle-btn{
    display: block;
}
.over{
  background-color: #FA5568;
}
.nav{
  display: none;
  background-color: #FA5568;
  border-radius: 5px;
  width: 98%;
  padding: 1%;
  text-align: center;
}
.nav-pills > li{
  
}
.nav-pills, .nav-pills > li > a{
  font-weight: normal;
  font-family: 'Lato-Regular';
  font-size: 12px;
  color:#FFF;
  border-radius: 5px;
  margin: 0 auto;
}
.nav-pills > li > a:hover{
  color:#FA5568;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  text-decoration: none;
  border-radius:5px;  
    color: #FFF !important;
  background-color: #FA5568 !important;
}

.box-text{
  font-size: 12px;
}

#main_intro{
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}

.sizeMain{font-size: 16px;}
h1{
  font-size: 60px;
  line-height: 55px;
  padding-bottom: 10px;
}
h2{
  font-size: 25px;
  padding: 50px 0px;
}
.mainDownload{
  text-align: center;
}
.mainDownload img{
  width: 140px;
}
.cardInfluencer{
  text-align: center;  
  margin: 0 auto;
}
.box{height: 170px;}
.box-social{height: auto; padding-bottom: 50px;}
.footerLogo{
  padding-top: 30px;
}
.pop-text {    
    font-family: 'Lato-Regular';
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    font-size: 12px;
    text-align: left;  
    padding-top: 10px;  
}
.pop-text p{
    
}
.all-influencers-line{
  background: none;
}
.influencerImage{
  text-align: center;  
}
.influencerImage img{
  width: 100%;
  border-radius: 5px;
}
.influencerSocial{
  text-align: center;
}
.influencerSocial img{
  width: 50px;
}
.influencerDownload{
  padding-top: 10px;
  text-align: center;
}
.influencerDownload img{
  width: 180px;
}
.influencerName{
  font-size: 40px;
  text-align: center;
}
.downloadLeft{text-align: right;}
.downloadRight{text-align: left;}
.downloadRight img, .downloadLeft img{
  width: 140px;
}

/*********************************************************
  INFLUENCER
**********************************************************/
.influencer_main_imgtop{
  display: none;
}
#influencer_intro{
  text-align: center;
  color: #FFF;
}
.influencer_left_text{
  text-align: left;
}
.influencer_right_text{
  text-align: right;
}
.influencer_center_text{
  text-align: center;
}
.influencer_center_text h2{
  padding: 20px;
  font-size: 20px;
}
.influencer_join{
  width:100%;    
  margin:0 auto;
}
.influencer_warning{
  padding-top: 20px;
  width: 100%;
  margin:0 auto;
}
.influencer_warning_icon{
  float:left;
  width: 10%;  
}
.influencer_warning_text{
  float:left;
  font-size: 10px;
  text-align: left;
  width: 90%;  
}
.influencer_responsive_main{
  display: none;
}
.influencer_responsive_small{
  display: block;
  text-align: center;
}
.influencer_responsive_h2{
  font-size: 30px; 
  font-weight: normal; 
  padding: 20px 0;
}
.influencer_responsive_small_img{
  width: 80%;
  padding: 20px 0;
  margin:0 auto;
  max-width: 300px ;
}
.influencer_responsive_small_instagram{
  width: 290px;
}
.unete{
  display: none;
}
.always{
  display: block;
  margin:0 auto;
}
/******************************************************************/
#influencer_usuario{   
   max-width: 500px;
   width: auto;
   margin: 0 auto;
   text-align:left;
}
#influencer_usuario input{
  padding: 10px;  
  width: 100%;
  margin-bottom: 10px;
  border:0px;
  color:#CCC;
}
#influencer_usuario .telefono{
  background: url(../img/influencer/usuario/Telefono.png) no-repeat scroll 15px 15px;
  padding-left:50px;
  background-color: #FFF;
}
#influencer_usuario .email{
  background: url(../img/influencer/usuario/mail.png) no-repeat scroll 15px 15px;
  padding-left:50px;
  background-color: #FFF;
}
/******************************************************************/
.influencer_top_wrap{
  border-bottom: 0px;
  border-right: 0px;
  background-color:transparent;
  border-radius: 0px;
  font-size: 14px;
}
.influencer_top_img_left{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
}
.influencer_top_img_right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right:0px;
  display: none;
}
.influencer_top_text{
  padding: 20px;
}
.influencer_top_intro{
  padding: 80px 0;
}
.influencer_top_block1{

}
.influencer_top_block2{
  
}
.influencer_top_block3{

}
.influencer_top_intro h2{
  padding: 0px;
  font-size: 20px;
}

/*******************************************************************/

/********************************************************/
.main_documents{
  font-size: 14px;
}
.main_documents h1{
  font-size: 30px;
}

.main_documents h2{
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px solid #FA5568;
}
