@media screen and (min-width: 769px) {
  #menu-toggle-btn{
   display: none;
}
.nav_menu{  
}
nav ul {
    text-align:center;
    font-size:14px;
    text-transform: uppercase; 
    margin: 0px;
    padding: 0px;
    
    
}
nav ul li {
    display:inline-block;
    margin: 0px;
    padding: 0px;
    margin-top: 27px;
}
nav ul > li a {
    display:block;        
    padding:0px 15px;
    color:#000;        
}
nav ul.sub-menu {
    position:absolute;
    text-align:center; 
    width:150px;
    background:#e5e5e5;
    display:none;
    font-size:12px;
    text-transform: uppercase;
    z-index:300; 
    margin-left: -75px;
    padding: 0px;
}
nav ul.sub-menu > li  {
    text-align:left;
    vertical-align:top;
    display:inline-block;  
    padding:10px;
    margin: 0px;          
    font-weight:normal;
    width: 150px;
    float: left;  
    border-bottom: 1px solid #CCC;  
    border-left:  1px solid #CCC;
    border-right: 1px solid #CCC;     
}
nav ul.sub-menu > li a  {
    font-weight:normal;
    padding:0px;          
}
nav ul > li:hover ul.sub-menu {
    display:inline-block;
}
 nav ul > li a:hover {
    text-decoration:none;
    color:#fa5568;
}
.nav_menu{display: block;}
.hamburger,.cross{
    display: none;
}
}
@media screen and (max-width: 768px) {
#top-info h1{
	font-family: 'Lato-Black';
	font-size: 25px;	
	padding: 0px;
	text-transform: uppercase;	
	margin: 10px 0;
}
#menu-toggle-btn{
   display: block;
   float: left;
}
.logo{
  float:right;
}

nav ul {
  overflow-y: auto;
    text-align:left;
    font-size:18px; 
    margin: 0px;
    padding: 0px;
    width: 100%;
}
nav ul li {    
  width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #e5e5e5;

}
nav ul > li a {
    display:block;        
    padding:10px;    
    color:#000;             
}
nav ul.sub-menu {    
    text-align:left;         
    font-size:16px;
    padding: 0px;
}
nav ul.sub-menu > li  {
    text-align:left;        
    padding:10px;
    margin: 0px;                   
  background-color: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;  
}
nav ul.sub-menu > li a  {    
    padding:0px;          
}
nav ul > li:hover ul.sub-menu {    
}
 nav ul > li a:hover {
    text-decoration:none;
    color:#fa5568;
}

.nav_menu{
  display: none;
}
.hamburger{  
  display: initial;
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
}


@media (max-width:666px){

.logo{  
  margin: 0 auto;
}.logo img{
  text-align: center;
}
.nav{
  float: right;
  font-size: 14px;
}
/**************************************************/
.ranking-card{      
  border-bottom: 1px solid #e5e5e5;
  padding: 1%;    
  height: auto;
}
.name a{
  color:#000;
}
.col1{
  float: left;
  width: 22%;
  padding: 1%;
}
.col2{
  float: left;
  width: 74%;
  padding: 1%; 
  height: auto; 
}
.col3{
  float: left;
  width: 9%;
  padding: 1%;
  text-align: right;
}
.member h3{
  width: 100px;
  margin:0 auto;
}
.member h2{
  padding: 10px;
}
.member .round{
  border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin:0 auto;
    border:2px solid #FFF;
}
.member .box{
  padding: 10%;
  font-size: 12px;
  height: 140px;
}
.team_space{
  padding: 10px;
}
.ranking-pos{
  border-radius: 3px;
  background-color: #FA5568 ;  
  padding: 5px 15px;
  color:#FFF;
  width: 60px;
  margin-top: 5px;
  font-size: 12px;  
}
.ranking-img {
  border-radius: 50%;  
  width: 60px;
  height: 60px;    
  float: none;
  position: static;
  margin-left: 0px;
}
.ranking-img img {
  display: block;
  min-width: 100%;
  min-height: 100%; 
  width: 60px;
  float: none;
}
.ranking-position{
	width: 30px;
  position: absolute;
  right: 15px;
}
.followers{
  font-size: 10px;
  font-weight: bold;  
  padding: 5px 0;
}
.name{
  font-size: 14px;
  font-weight: bold;  
}
.ad{
  text-align: center;   
  position:static;
  top:0;
  display: none;  
}
.mini{
  display: block;
  visibility: visible;
  height: auto;
  text-align: center;
  background-color: #e5e5e5;
  margin-bottom:10px;
}
.nav-pills{    
  display: none;
}
/**************************************************/
