body {
    margin-right: 5%;
    margin-left: 5%;
    color: #424b52;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

p{
	line-height: 1.3em;
	font-family: 'Lato';
	font-size: 19px;
	font-weight: 300;
}

span {
	line-height: 1.2em;
	font-weight: 400;
}

a {
    color: #55acee;
    text-decoration: none;
}
