html { 	
	padding: 0px;
	margin: 0px;
}
body{
	font-family:"Open Sans Condensed";
	font-size: 14px;
	background-color:#000;
	padding: 0px;
	margin: 0px;
	background: url(../img/fondo.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#logo{
	background: url(../img/logo.jpg) no-repeat;
	width:200px;
	background-size: 200px;
	height: 60px; 
}
h1{
	font-size:60px;
	text-align:center;
	color:#FFF;
	background-color: #ff1d58;
	display: block;
	padding: 20px;
	margin: 0px auto;
	margin-top: 40px;
	opacity: 0.9;
}
h2{
	font-size:20px;
	text-align:center;
	color:#FFF;
	background-color: #ff1d58;
	display: block;
	padding: 20px;
	width: 600px;
	margin: 0px auto;
	margin-top: 40px;
	opacity: 0.9;
}
#top{
	background-color: #FFF;
	padding: 20px;
}	
#informacion{
	float: right;
	width: 500px;
	text-align: right;
}
#contenedor{
	width:960px;
	margin: 0 auto;
}
#contacto{
	text-align: right;
	width:280px;
	color: #FFF;
	margin-left: 660px;
	padding: 10px;
	margin-top: 70px;
	background-color: #ff1d58;
	opacity: 0.9;
}
#contacto input{
	background-color: #FFF;
	font-family: "Open Sans Condensed";
	font-size: 16px;
	padding: 5px;
	width: 140px;
	color:#ff1d58;
	border:0px;
	outline: none;
}
#contacto input[type=submit]{
	background-color: #FFF;
	font-family: "Open Sans Condensed";
	font-size: 16px;
	padding: 5px;
	width: 100px;
	color:#ff1d58;
	border:0px;
}
