		<div class="ranking-card mini">
			<a href="{_url_android}" target="_blank"><img src="{url}img/download-android.png" width="120"></a>
			<a href="{_url_ios}" target="_blank"><img src="{url}img/download-ios.png" width="120"></a>			
			<div class="clear"></div>
		</div>		