{head}
<body>
<div class="header_static">	
	<div class="container">
		{menu}
	</div>
</div>
<div class="main_section color_front">	
	<div class="container">								
		<div class="space"></div>	
	</div>
</div>
<div class="main_section color_front">
	<div class="container">	
		<div class="space"></div>	
		<div id="error404">
													
		<div class="row">					
			<div class="col-md-12">
			<h1>¡Gracias por dejarnos tus datos!</h1>
			<br/>
			<p>Hablamos pronto.<br/>
Mientras te voy a dar alguna sugerencia... ¿Qué te parece ver nuestro <b><a href="{url}/top/">TOP100 de Instagramers</a></b>?
o mejor todavía descárgate nuestra APP y mantente al día de todas las novedades</p>
			
			</div>									
						
		</div>	
		<div class="row">
		        	<div class="col-md-12 center">
		        		<div class="space"></div>
		        		<img src="{url}img/ic_bajar.png">		        		
		        		<div class="space"></div>
		        	</div>
		        </div	
		<div class="row">
			<div class="col-xs-6 col-sm-6 downloadLeft">
			    <a href="{_url_android}"><img src="{url}img/download-android.png" width="180"></a>
			</div>
			<div class="col-xs-6 col-sm-6 downloadRight">
				<a href="{_url_ios}"><img src="{url}img/download-ios.png" width="180"></a>
			</div>
		</div>

		</div>											
	</div>
</div>  
{footer}		
</body>
</html>