			<div class="col-xs-6 col-sm-3 cardInfluencer">			
				
				<div class="round">
        			<a href="/{url_profile}"><img src="{url}img/profile/{id}.jpg" width="150px"></a>
        		</div>

				<h3>{name}</h3>
				<p class="roman size12 left box">
					{text}
				</p>
				<div class="box-link size12 roman">
					<a href="/{url_profile}" >Ver más...</a>
				</div>
				<div class="box-social">
					<div class="row">
						<div class="col-md-12 center">
							<a href="https://www.instagram.com/{instagram}/" target="_blank"><img src="{url}img/social/ic_instagram.png">	</a>					
							<a href="https://twitter.com/{twitter}" target="_blank"><img src="{url}img/social/ic_twitter.png"></a>
						</div>						
					</div>
				</div>
			</div>