@media screen and (min-width: 768px) {
.nav_menu{
	padding-top: 27px;
}
nav ul {
    text-align:center;
    font-size:14px;
    text-transform: uppercase; 
    margin: 0px;
    padding: 0px;
    
    
}
nav ul li {
    display:inline-block;
    margin: 0px;
    padding: 0px;
    margin-top: 27px;
}
nav ul > li a {
    display:block;        
    padding:0px 15px;
    color:#000;        
}
nav ul.sub-menu {
    position:absolute;
    text-align:center; 
    width:150px;
    background:#e5e5e5;
    display:none;
    font-size:12px;
    text-transform: uppercase;
    z-index:300; 
    margin-left: -75px;
    padding: 0px;
}
nav ul.sub-menu > li  {
    text-align:left;
    vertical-align:top;
    display:inline-block;  
    padding:10px;
    margin: 0px;          
    font-weight:normal;
    width: 150px;
    float: left;  
    border-bottom: 1px solid #CCC;  
    border-left:  1px solid #CCC;
    border-right: 1px solid #CCC;     
}
nav ul.sub-menu > li a  {
    font-weight:normal;
    padding:0px;          
}
nav ul > li:hover ul.sub-menu {
    display:inline-block;
}
 nav ul > li a:hover {
    text-decoration:none;
    color:#fa5568;
}
.nav_menu{display: block;}
.hamburger,.cross{
    display: none;
}
}