@media screen and (max-width: 768px) {
#menu-toggle-btn{
   display: block;
}
.logo{
	float:right;
}
.post h1{
	font-family: 'Lato-Black';
	font-size: 20px;	
	padding: 0px;
	text-transform: uppercase;	
	margin: 5px 0;
}
.post-top-complete{   
  height: 215px;  
}
.post-bottom{	
	padding: 15px;
  padding-bottom: 45px;
	height: auto;
	position: relative;
}
.post-left{
	position: relative;
	background-image: url('img/maxresdefault.jpg');
	background-size: cover;
	background-position: center;
	height: 215px;	
	padding: 15px;
	width: auto;
	float: none;
}
.post-right{
	width: auto;
	padding: 15px;
  padding-bottom: 45px;
	height: auto;
	position: relative;
	float: none;
}
nav ul {
	overflow-y: auto;
    text-align:left;
    font-size:18px; 
    margin: 0px;
    padding: 0px;
    width: 100%;
}
nav ul li {    
	width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #e5e5e5;

}
nav ul > li a {
    display:block;        
    padding:10px;    
    color:#000;             
}
nav ul.sub-menu {    
    text-align:left;         
    font-size:16px;
    padding: 0px;
}
nav ul.sub-menu > li  {
    text-align:left;        
    padding:10px;
    margin: 0px;                   
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;  
}
nav ul.sub-menu > li a  {    
    padding:0px;          
}
nav ul > li:hover ul.sub-menu {    
}
 nav ul > li a:hover {
    text-decoration:none;
    color:#fa5568;
}

.nav_menu{
  display: none;
}
.hamburger{  
  display: initial;
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
	display: none;
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:#000;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}



#social-menu{
	display: block;
	padding: 20px;	
}
#social-menu img{
	width: 20px;
	margin-left: 5px;
	float:right;
}
.header{
	background-color: #ffffff;
	padding: 5px 0;
	text-align:  center;	
}

/********************************************************/
.sclusib{
  margin-bottom: 30px;
  padding: 10px;
}
.sclusib-logo{
  width: 50px;
  float: left;
  margin-right: 10px;
}
.sclusib-download{
  width: 100px;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}
.sclusib h1{
  font-family: 'Lato-Black';
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
  padding: 0px;
  margin: 0px;
}
/********************************************************/
.footer-social{
  padding-bottom: 20px;
  text-align: left;
}
.footer-social img{
  width: 30px;
  margin-right: 15px;
}
.footer-subscribe {
  text-align: left;
  height: 180px;
}
.footer-secondary{
  display: none;
}
}

