
@font-face {
	font-family: 'Lato-Light';
	src: url('font/Lato-Light.ttf');
	src: local('☺'), url('font/Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('font/Lato-Bold.ttf');
	src: local('☺'), url('font/Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Black';
	src: url('font/Lato-Black.ttf');
	src: local('☺'), url('font/Lato-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('font/Lato-Regular.ttf');
	src: local('☺'), url('font/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	background-color: #f5f5f5;
	font-size: 18px;
	font-family: 'Lato-Light';
	line-height:  1.3em;
}
strong, b{
	font-family: 'Lato-Bold';
}
.header{
	background-color: #ffffff;
	padding: 20px 0;
	text-align:  center;	
}
.sc_logo{
	width: 225px;
	margin: 0 auto;
}
.space40{padding-top: 40px;}
.space20{padding-top: 20px;}
.clear{clear:both}
/*****************************/
ul .menu{
	list-style: none;
	margin: 0 auto;
	padding-bottom: 0;

}
.menu li{
	list-style: none;
	margin: 0;
	padding-bottom: 0;
	float: left;
	font-family: 'Lato-Bold';
}
.sitemap li{	
	width: 12%;
}
.sitemap li a{	
	padding: 15px;	
	color: #000000;
}
.sitemap li a:hover{
	color: #ba52ed;
	text-decoration: none;
}
.icon{
	width: 30px;
	margin: 15px 5px;
}
/*******************************/
.search-input{
	border-radius: 5px;
	width: 90%;
	background-color: #FFFFFF;
	border:  1px solid #b4b4b4;
	margin: 15px 0;
	padding: 8px 20px 8px 40px;
	background-image: url('img/ic_search_2x.png');
	outline: none;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 15px 12px;
}
.test1{
background-color: #00FF00;
}
.test2{
background-color: #FF0000;
}
.test3{
background-color: #0000FF;
}

.main-bg{
	background-image: url('img/maxresdefault.jpg');
	background-size: cover;
	height: 600px;
}
/********************************/
.space-text{
	padding: 0 20px;
}
.space-text h3{
	font-family: 'Lato-Black';
	font-size: 18px;	
	color: #DDD;
	padding: 0px;
	text-transform: uppercase;	
	margin: 10px 0;
}
.post{
	background-color: #FFFFFF;
	margin-bottom: 30px;
}
.post a{
	color:#000;
}
.post a:hover{
	color:#fa5568;
}
.post-related-image{
	background-image: url('img/maxresdefault.jpg');
	background-size: cover;
	background-position: center;
	height: 150px;
	width: 30%;
	padding: 15px;
	float: left;
	position: relative;
}
.post-related-content{
	width: 70%;
	float: left;
	padding: 15px;
	height: 150px;
	position: relative;
}
.post-related-content h2{
	font-family: 'Lato-Black';
	font-size: 18px;	
	padding: 0px;
	text-transform: uppercase;	
	margin: 10px 0;	
}
.post-related-tag{
	position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;	
	background-color: #ba52ed;
	padding: 5px;
	color: #FFFFFF;
	font-family: 'Lato-Black';
	text-transform: uppercase;
}
.post-related-tag a{
	color: #FFF;
}
.post-related-tag a:hover{
	color: #FFF;
	text-decoration: none;
}
.post-single{
	background-image: url('img/maxresdefault.jpg');
	background-size: cover;
	background-position: center;
	height: 340px;
	padding: 15px;
	position: relative;
}
.post-single-title{
	background-color: #FFF;
	color: #FFF;
	padding: 0px 15px;
	position: absolute;
    bottom: 42px;
    max-width: 80%;
    left: 0;
}
.post-left{
	background-image: url('img/maxresdefault.jpg');
	background-size: cover;
	background-position: center;
	height: 340px;
	width: 50%;
	padding: 15px;
	float: left;
	position: relative;
}
.post-right{
	width: 50%;
	float: left;
	padding: 15px;
	height: 340px;
	position: relative;
}

.post-top{
	position: relative;
	background-image: url('img/maxresdefault.jpg');
	background-size: cover;
	background-position: center;
	height: 215px;	
	padding: 15px;	
}
.post-top-complete{
	position: relative;
	background-image: url('img/maxresdefault.jpg');
	background-size: cover;
	background-position: top;
	height: 405px;	
	padding: 15px;	
}
.post-bottom{	
	padding: 15px;
	height: 340px;
	position: relative;
}
.post-bottom-complete{	
	padding: 15px;	
	position: relative;
	padding-bottom: 50px;
}
.post-content{
	padding-top: 20px;
}
.post-content img{	
	width: 100%;
	height: auto;
}
.post-content-complete{
	padding-top: 20px;
	line-height: 1.8em
}

.post-content-complete a{
	color:#fa5568;
}

.post-content-complete a:hover{

}

.post-content img{	
	width: 100%;
	height: auto;
}
.post-content-complete img{
	max-width: 100%;
	height: auto;
}
.post-bar{
	position: relative;	
}
.post-bar-author{	
	margin: 0px;
	padding: 4px 0px;
	padding-bottom: 8px;
	font-size: 14px;
	color: #b4b4b4;
}
.post-bar-author img{
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.post-bar-footer{	
	position: absolute;
	bottom: 20px;
}
.post-bar-footer img{
	width: 25px;
}
.post-bar-footer-complete{
	text-align: right;
	float: right;
}
.post-bar-footer-complete img{
	width:25px;
	border-radius: 0;
}
.post-bar-footer-time{
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 14px;
	color: #b4b4b4;
}
.post-bar-items{
	position: absolute;
	right: 0;
	top: 15px;	
}
.post-bar-items img{
	float: left;
	width: 27px;
}
.post h1{
	font-family: 'Lato-Black';
	font-size: 25px;	
	padding: 0px;
	text-transform: uppercase;	
	margin: 10px 0;
}
.post-tag{
	position: absolute;
    bottom: 0;
    left: 0;
	
	background-color: #ba52ed;
	padding: 10px;
	color: #FFFFFF;
	font-family: 'Lato-Black';
	text-transform: uppercase;
}
.post-tag a, .post-related-tag a{
	color: #FFF;
}
.post-tag a:hover, .post-related-tag a:hover{
	color: #FFF;
	text-decoration: none;
}
.post-tag ul, .post-related-tag ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.post-tag ul li, .post-related-tag ul li{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.post-author-image{
	padding: 20px;
	float: left;
}
.post-author-info{
	padding: 20px;
}
/************************************/
.ads{
	background-color: #FFF;
	text-align: center;
	padding: 20px;
}
.ads-tag{
	padding: 10px;
	width: 200px;
	background-color: #fa5669;	
	color: #FFFFFF;
	font-family: 'Lato-Black';
	margin: 0px;
}
.ads img{
	width: 180px;	
}
/**********    SIDEBAR    **********/
.app{
	position: relative;
}
.app img{
	width: 140px;
}
.app-icon{
	position: absolute;	
	left: 20px;
	top: 20px;	
}
.app-icon img{
	width: 72px;
	z-index: 1;
}
.app-download img{
	width: 100px;
	margin: 0 auto;
}
/************************************/
.footer{
	background-color: #FFFFFF;
	height: auto;
	padding: 10px;
	font-size: 14px;
	font-family: 'Lato-Regular';
}
.footer-logo{
	width: 150px;
	margin-bottom: 10px;
}

.footer-social{
	padding-bottom: 20px;
	text-align: right;
}
.footer-social img{
	width: 30px;
	margin-left: 15px;
}
.footer-subscribe {
	text-align: right;
}
.footer-subscribe h2{
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-family: 'Lato-Bold';
	text-transform: uppercase;
}
.footer-subscribe p{
	font-size: 10px;
}
.footer-secondary{
	background-color: #333;
	padding: 10px;
	font-size: 14px;
	font-family: 'Lato-Regular';
	padding-bottom: 30px;
	height: auto;
	 display:block;
}
.footer-secondary a{
	color:#666;
	text-decoration: none;
}
.footer-secondary a:hover{
	color:#FFF;
}
.footer-secondary ul{
	list-style: none;

	margin: 0px;
	padding: 0px;
}
.footer-secondary li{
	list-style: none;
	
	color:#FFF;
	margin: 0px;
	padding: 0px;
	
}
.footer-secondary li a b{
	
	color:#FFF;

	
}
.footer-secondary li a{
	color: #666;
	border-radius: 5px;
	padding: 10px;
	display: block;
}
.footer-secondary li a:hover{
	color: #FFF;
	background-color: #666;
}
/************************************/

.navigation{
	text-align: center;
	padding: 20px;
	
}
.alignleft a{
	float:left;
	padding: 10px;
	background-color: #FFF;
}
.alignleft a:hover{
	background-color: #FA5568;
	color: #FFF;
	
}
.alignright a{
	float:right;
	padding: 10px;
	background-color: #FFF;
}
.alignright a:hover{
	background-color: #FA5568;
	color: #FFF;
	text-decoration: none;
}
/************************************/
#menu-toggle-btn{
   margin: 15px;
   cursor: pointer;
   width: 30px;
   height: 30px; 
   margin-top: 25px;  
   float: left; 
   display: none;
   margin-right: 0px;
}

.menu-line{
	background-color: #FA5568 ;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.3s linear;
}

/*Comment Output*/
#comments{
	font-size: 16px;
}
.commentlist .reply {
	font-size: 12px;
}
.commentlist .reply a {}

.commentlist .alt {}
.commentlist .odd {}
.commentlist .even {}
.commentlist .thread-alt {}
.commentlist .thread-odd {}
.commentlist .thread-even {}
.commentlist li ul.children .alt {}
.commentlist li ul.children .odd {}
.commentlist li ul.children .even {}

.commentlist .vcard {}
.commentlist .comment-body	 em{
	font-size: 12px;
	font-weight: bold;
}
.commentlist .vcard cite.fn {
	padding: 0 10px;
}
.commentlist .vcard span.says {}
.commentlist .vcard img.photo {}
.commentlist .vcard img.avatar {
	float:left;
	width: 32px;
}
.commentlist .vcard cite.fn a.url {}

.commentlist .comment-meta {} 
.commentlist .comment-meta a {}
.commentlist .commentmetadata {font-size: 12px;}
.commentlist .commentmetadata a {}

.commentlist .parent {}
.commentlist .comment {}
.commentlist .children {}
.commentlist .pingback {}
.commentlist .bypostauthor {}
.commentlist .comment-author {}
.commentlist .comment-author-admin {}

.commentlist {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
.commentlist li {
	padding: 10px;
	margin: 10px;
	border-bottom: 1px solid #DDD;
	background-color: #e5e5e5;
	}
.commentlist li p {}
.commentlist li ul {
	list-style: none;
	padding: 0px;
	margin: 0px;}
.commentlist li ul.children li {}
.commentlist li ul.children li.alt {}
.commentlist li ul.children li.byuser {}
.commentlist li ul.children li.comment {}
.commentlist li ul.children li.depth-{id} {}
.commentlist li ul.children li.bypostauthor {}
.commentlist li ul.children li.comment-author-admin {}

#cancel-comment-reply {}
#cancel-comment-reply a {}	

/***********************************/
.widgets-list-layout-links{
	text-align: left;
	font-size: 14px;
	width: 85%;
	line-height: 1.2em;
}
.widgets-list-layout-links a{
	color: #000;
}
.widgets-list-layout-links a:hover{
	color:#fa5568;
	text-decoration: none;
}
.widget-title{	
	font-size: 18px;
	padding: 0px;	
	padding: 10px;
	width: 180px;
	background-color: #fa5669;	
	color: #FFFFFF;
	font-family: 'Lato-Black';
	text-transform: uppercase;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 0px;
}

.sf-widget-holder{
	font-family: 'Lato-Black';
}

#social-menu{
	display: none;
}

#block-comments{
	display: none; 
}
#button-comments{
	margin: 0 auto;
	padding: 10px;
	border-radius:  5px;
	color: #FFF;
	background-color: #fa5669;
	display: block;
	width: 300px;
	text-align: center;
	cursor: pointer;
}
/********************************/

.popup {
background: rgba(0,0,0,0.5);
   bottom: 0;
   left: 0;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 998;
   display: none;
}

.popup-content{
	padding: 20px;
	font-size: 14px;
}

.popup h2{
	font-family: 'Lato-Black';
	text-transform: uppercase;
	font-size: 18px;	
	margin: 0px;
	padding: 20px;
	width: 100%;
	color: #FFF;
	background-color: #fa5669;
}

.popup button,.popup input{
	border: 1px solid #DDD;
	font-size: 14px;
	padding: 10px;	
}
.popup input{
	width: 70%;
}
.popup button{
	width: 30%;
}

.popup form{	
}
/* Inner */
.popup-inner {
	max-width:500px;
	width:90%;
	padding:0px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);	
	border-radius:0px;
	background:#f1f1f1;
	z-index: 1000;
	border: 1px solid #DDD;
}

/* Close Button */
.popup-close {
	width: 60px;	
	padding-top:20px;
	padding-bottom: 20px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;	
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;	
	color:#fff;
}

.popup-close:hover {	
	text-decoration:none;
	color: #fa5669;
	background-color: #f1f1f1;
}
/*************************************************/
.apps img{
	width: 50px;
}
/*************************************************/
.topheader, .topheader_transparent{        
    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: none;
}

.sticky .nav-pills > .active > a,
.sticky .nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #FFF !important;
	background-color: #1d7ed6 !important;
}

.topheader .nav-pills > li > a:hover{
	border-radius: 5px;
	color:#1d7ed6;
	background-color: #FFF;
}
.topheader_transparent .nav-pills > li > a {
  color: #000;
}

      
.topheader.sticky, .topheader_transparent.sticky{
    position: fixed;  
    top: 40;
    padding-top:10px ;  
    width: 100%;
    z-index: 999;
    background: #FFF;  
    color: #FFF; 
    border-bottom: 1px solid #f1f1f1;     
}
.topheader .nav-pills > li > a {
color:#FFF;
}

.sticky .nav-pills > li > a{
	border-radius: 5px;
	color:#000;
}

.topheader_static{    
  padding-top: 50px;
}

/********************************************************/
.sclusib{
	margin-bottom: 30px;
	padding: 10px;
}
.sclusib-mag{
	background-color: #ff1d59;
}
.sclusib-trivials{
	background-color: #0fcec4;
}

.sclusib-tests{
	background-color: #d302bb;
}
.sclusib-horoscopos{
	background-color: #82a6ee;
}
.sclusib-logo{
	width: 70px;
	float: left;
	margin-right: 20px;
}
.sclusib-download{
	width: 140px;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}
.sclusib h1{
	font-family: 'Lato-Black';
	font-size: 18px;
	text-transform: uppercase;
	color: #FFF;
	padding: 0px;
	margin: 0px;
}

.modal-title{
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 30px;
}
.modal-social{
	text-transform: uppercase;
	font-size: 12px;
}
.facebook{
	color: #3b5998;
}
.twitter{
	color: #55acee;
}
.instagram{
	color: #125688;	
}