html { 	
	padding: 0px;
	margin: 0px;
	overflow-x:hidden;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 6px;
	background-color:white;
	padding: 0px;
	margin: 0px;	
        width: 100%;
        height: 100%;
        min-height: 480px;
        min-width: 320px;
}

#logo{
    width: 100%;
    padding-bottom: 5vh;
    padding-top:10vh;
    text-align: center;
}
#logo > div{
    margin: auto;
}
#logo > div > img{
    margin: auto; 
    max-width: 80%;
}
h1{	
	font-size:4em;
	font-weight: 900;	
	color:#000;	
	text-shadow: 0px 0px 3px #FFFFFF;
	line-height:1;	
	margin-bottom: 30px;	
}
h2{	
	font-size:1.5em;	
	color:#000;	
	font-weight: 300;
	line-height: 1.5em;		
}
.contenedor{
	width:90%;
        display: inline-block;
}

#primeraEtapa{	
	background: url(../img/Desktop/Background.png) no-repeat center center ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0px;
	margin:0px;		
	position:relative;
        text-align: center;
        width: 100vw;
        height: 100%;
        min-height: 100vh;
        min-width: 320px;
}

#contenido-primeraEtapa{	
	display: block;
        text-align: center;
}
#contenido-primeraEtapa > div{	
        text-align: center;
}

#botones {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: inline-block
}
#Apple-2 {
    padding-top:5vh;
}

#Android-2{
    padding-top:5vh;
    padding-bottom:5vh;
}
#Android-1{
    float:right;
    padding-left: 5vw;
}

#Apple-1{
    float:left;
}

#texto{
    display: inline-block;
    font-weight: 200;
    font-size: 1.7em; 
    max-width: 55%;
    color:white;
}

#pie-texto{
    margin-bottom: 35px;
    display: inline-block; 
    font-size: 1em;
    max-width: 45%;
    color:white;
    font-weight: 200
}
.clear{
	clear:both;
}
.clear{
	clear:both;
}

a{
	text-decoration:none;
	color:white;
}	

@media all and (max-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 700px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 800px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 1000px) {  body  { font-size:0.8em;  } }
@media all and (min-width: 1100px) {  body  { font-size:0.9em;  } }
@media all and (min-width: 1200px) {  body  { font-size:1em;  } }


@media only screen and (min-width: 768px) { 
#logo-1 { display: inline-block; }
#logo-2 { display: none; }
#Apple-1 { display: block; }
#Apple-2 { display: none; }
#Android-1 { display: block; }
#Android-2 { display: none; }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
#logo{ 
    padding-top: 8vh; 
}

#logo-1 { display: none; }
#logo-2 { display: inline-block; }
#Apple-1 { display: none; }
#Apple-2 { display: block; }
#Android-1 { display: none; }
#Android-2 { display: block; }
#primeraEtapa{ 
    background: url(../img/Responsive/Background.png) no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
#texto{
    max-width: 80%;
    font-size: 2.7em; 
}
#pie-texto{
    font-size: 1.9em;
    max-width: 80%;
}   
}

@media only screen and (max-width: 981px) and (min-height: 641px), handheld and (orientation: landscape){ 
#logo{ 
    padding-top: 8vh; 
}

#logo-1 { display: inline-block; }
#logo-2 { display: none; }

#Apple-1 { 
    margin: 0;
    padding: 0;
    display: block;
    padding-top:5vh;
    float: none;
}

#Apple-2 { display: none; }

#Android-1 { 
    margin: 0;
    padding: 0;
    display: block; 
    padding-top:5vh;
    padding-bottom:5vh;
    float: none;
}
#Android-2 { display: none; }

#texto{
    max-width: 80%;
    font-size: 2.7em; 
}

#pie-texto{
    font-size: 1.9em;
    max-width: 80%;
}

#botones {
    padding: 0;
}

}

@media only screen and (max-width: 479px) { 

#logo-1 { display: none; }
#logo-2 { display: inline-block; }
#Apple-1 { display: none; }
#Apple-2 { display: block; }
#Android-1 { display: none; }
#Android-2 { display: block; }
#primeraEtapa{ 
    background: url(../img/Responsive/Background.png) no-repeat center center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
#logo{ 
    padding-top: 8vh; 
    }

    #botones {
    padding-top: 0;
    padding-bottom: 0;
}

#texto{
    max-width: 80%;
    font-size: 2.7em; 
}

#pie-texto{
    font-size: 1.9em;
    max-width: 80%;
}

}
	
