@charset "utf-8";
/* CSS Document */

body {
	font-family: "Helvetica Neue" , Arial;
	background: url("../img/dp_background.png")  no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	color: #FFF;
	font-weight: 200;
	text-align: center; 
}

.logo {
	width: 25%;
	padding-top: 150px;
}

#content{
	text-align:center;	
}

footer{
	position:absolute;
	bottom:0px;
	text-align:center;		
}
h3{
	width: 50%;
	padding: 30px 0 15px 0; 
	font-weight: 200;
	font-size: 1.4em; 
	margin:0 auto;

}
.appstores {
	width: 50%;
	margin:0 auto;
}

.appstores img {
	width: 25%;
	padding: 15px;

}

.email {
	font-weight: 700;
}

a{
	color: #FFF;
	text-decoration:none;
}
.textopeque {
	width: 30%;
	padding: 10px 0 0 0;
	font-size: 0.8em;
	margin: 0 auto;
}

#terminos{
		width:600px;
		line-height: 1.5em;
		font-size:0.8em;
		text-align:left;
		margin: 0 auto;	
	}

@media (max-width: 1000px) {
body {
	background: url("../img/sp_background.png")no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
}
  h3 {
    width: 85%;
	padding: 50px 0 30px 0; 
	font-weight: 400;
	font-size: 3.3em; 
  }

  .logo {
  	width: 55%;
  	padding-top: 150px;
  	padding-bottom: 20px; 
  }
	.appstores {
		width: 60%;
		padding-top:20px;
	}
  .appstores img{
  	padding-top:30px;	
  	width: 90%;
  	
  }

	.textopeque {
		width: 70%;
		padding: 30px 0 60px 0;
		font-weight: 300;
		font-size:1.8em;
	

	}

	a{
		text-decoration:none;
	}
	
}

