@charset "utf-8";
/* CSS Document */

body {
	font-family: "Helvetica Neue" , Arial;
	background: url("../img/dp_background.png")  no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	color: #FFF;
	font-weight: 200;
	text-align: center; 
}

.logo {
	width: 25%;
	padding-top: 150px;
}

#content{
	text-align:center;	
}

h3{
	width: 50%;
	padding: 30px 0 15px 0; 
	font-weight: 200;
	font-size: 1.4em; 
	margin:0 auto;

}
.appstores {
	width: 50%;
	margin:0 auto;
}

.appstores img {
	width: 25%;
	padding: 15px;

}

.email {
	font-weight: 700;
}

.textopeque {
	width: 30%;
	padding: 10px 0 0 0;
	font-size: 0.8em;
	margin: 0 auto;
}


