@font-face {
	font-family: 'ABlack';
	src: url('fonts/AvenirLTStd-Black.eot');
	src: local('☺'), url('font/AvenirLTStd-Black.woff') format('woff'), url('font/AvenirLTStd-Black.ttf') format('truetype'), url('font/AvenirLTStd-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ARoman';
	src: url('font/AvenirLTStd-Roman.eot');
	src: local('☺'), url('font/AvenirLTStd-Roman.woff') format('woff'), url('font/AvenirLTStd-Roman.ttf') format('truetype'), url('font/AvenirLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html{
}
body{
	height: 100%;
	font-family: 'ABlack';
	font-size:18px;
	background-color:#FFF;
	padding:0px;
	margin:0px;
}

#bar-top{}
#bar-menu{
	float:right;
}
#logo-sclusib{
	float: left;
}
.logo{
	margin-top: -10px;	
	float: left;
}
h1{
	font-size: 76px;
	line-height: 70px;
	padding-bottom: 20px;
}
h2{
	font-size: 30px;
	padding: 80px 0px;
}
h3{
	font-size: 14px;
	padding: 10px 0px;
}
.nav{
	float: right;
  display: block;
}
.nav-pills > li{
	
}
.nav-pills, .nav-pills > li > a{
	font-weight: bold;
	color:#000;
	border-radius:0px;
}
.nav-pills > li > a:hover{
	border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #FFF !important;
	background-color: #ff225c !important;
}

#main_intro{
	padding-top: 100px;
  text-align: right;
}
#main_container{}

.main_section{	
	
}
.mainDownload{
  text-align: right;
}
.downloadLeft{text-align: right;}
.downloadRight{text-align: left;}
.content{
	margin: 0 auto;
}
.cardInfluencer{
  text-align: center;  
}
.box-image{height: 90px;}
.color_back{background-color:#F8F8F9;}
.color_front{background-color:#FFFFFF;}
.color_footer{background-color:#414042;}
.color_white{color:#FFFFFF !important;}
.bg{background: url(../img/bg.jpg); background-position: center; }
.bg-line{background: url(../img/bg-line.jpg); background-position: center; background-repeat: no-repeat; }
.mask-mobile{z-index: 20;  position: absolute;}
#cycler{ display:block; width: 250px; height: 492px; margin:0 auto;}
#cycler img{position:absolute;z-index:1; margin-left: -125px;}
#cycler img.active{z-index:3;}

.color_red{color:#990000;}
.color_green{color:#009900;}
.color_blue{color:#4688d7;}
.color_grey{color:#666666;}
.mask-testimony{z-index: 10; }
.relative{position: relative;}
.clear{clear:both;}
.right{text-align: right;}
.fright{float:right;}
.center{text-align: center;}
.left{text-align: left;}
.left40{margin-left: 40px;}
.size24{font-size: 24px;}
.size20{font-size: 20px;}
.size14{font-size: 14px;}
.size15{font-size: 15px;}
.size12{font-size: 12px;}
.sizeMain{font-size: 24px;}
.roman{font-family: 'ARoman';}
.space{padding:20px;}
.p40{padding: 40px;}
.p80{padding: 80px;}
.per50{width: 50%;}
.relative{position: relative;}
.s-right{padding-right: 20px;}
.line{border-bottom:1px solid #FFF; width:200px;}
.hline{border:1px solid #CCC; width:80%; margin:30px auto;}
.box{height: 110px;}
.box-link {
	margin-bottom: 25px;
	display: block;
}
.box-link a{	
	color:#ff225c;
	padding: 10px;
	border-bottom: 1px solid #ff225c;
}
.box-link a:hover{	
	text-decoration: none;
	background-color: #ff225c;
	color: #FFFFFF;
}
.box-social{height: 100px;}
.box-social img{width: 30px;}
.box-send{ 
	background-color: #ff225c;
	width:250px;
	color:#FFFFFF;
	padding: 10px;
	position: absolute;
	bottom:0px;	
	right: 0px;	
	border-top-left-radius: 5px;
}
.box-send a{color:#FFFFFF; text-decoration: none;}
.box-send a:hover{color:#e5e5e5; text-decoration: none;}
.all-influencers{	
	width: 200px;
	margin: 0 auto;
}
.all-influencers a{	
	display: block;
	padding: 10px;
	border:2px solid #ff225c;
	color: #ff225c;
	text-decoration: none;
}
.all-influencers a:hover{
	background-color: #ff225c;
	color: #fff;
}
.all-influencers-line{
	background:url(../img/talentos/_line.jpg) no-repeat;
}
.footerLogo{

}
.nav-footer{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.nav-footer li{padding: 2px;}
.nav-footer a{color:#FFFFFF; text-decoration: none;}
.nav-footer a:hover{color:#e5e5e5;}


.close-popup {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.close-popup:hover::before, .close-popup:hover::after {
  background: #1ebcc5;
}
.close-popup::before, .close-popup::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #ff225c;
}
.close-popup::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-popup::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-popup.big {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
.close-popup.hairline::before, .close-popup.hairline::after {
  height: 1px;
}
.close-popup.thick::before, .close-popup.thick::after {
  height: 4px;
  margin-top: -2px;
}
.close-popup.black::before, .close-popup.black::after {
  height: 8px;
  margin-top: -4px;
}
.close-popup.heavy::before, .close-popup.heavy::after {
  height: 12px;
  margin-top: -6px;
}
.close-popup.pointy::Before, .close-popup.pointy::after {
  width: 200%;
  left: -50%;
}
.close-popup.rounded::before, .close-popup.rounded::after {
  border-radius: 5px;
}
.close-popup.blades::before, .close-popup.blades::after {
  border-radius: 5px 0;
}
.close-popup.warp::before, .close-popup.warp::after {
  border-radius: 120% 0;
}
.close-popup.fat::before, .close-popup.fat::after {
  border-radius: 100%;
}

small {
  display: block;
  padding: 5rem;
  font: .8rem/1 sans-serif;
  color: #777;
  text-align: center;
}

small a {
  color: #1ebcc5;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

small a:hover {
  border-bottom-color: #222;
}
.round {
	border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin:0 auto;

}
.round img {
    display: block;
	min-width: 100%;
	min-height: 100%; 
}

#top{
	width:400px;
	margin: 0 auto;
	background-color: #f1f1f1;
}
.top-card{
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
	background-color: #FFFFFF;
}
.top-card-img {
	border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin:0 auto;
    float: left;
    margin-right: 20px;
    border:4px solid #e5e5e5;

}
.top-card-img img {
    display: block;
	min-width: 100%;
	min-height: 100%; 
}
.top-card-pos{
	float: left;
	font-size: 20px;
	padding: 6px 10px ;
	background-color: #e5e5e5;
	margin-right: 10px;
	border-radius: 4px;
}
.new-inf, .new-desc{
	display: none;	    
    position: absolute;
    left: 50%;
    top: 200px;
    background-color: #e5e5e5;
    z-index: 100;
    height: 100px;    
    width: 350px;
    margin-left: -175px;
    border-radius: 5px;
    padding: 10px;
    border: 4px solid #CCC;    
}
.new-list{
	display: none;	    
    position: absolute;
    left: 50%;
    top: 200px;
    background-color: #e5e5e5;
    z-index: 100;
    height: 200px;
    padding-top:100px;    
    width: 350px;
    margin-left: -175px;
    border-radius: 5px;
    padding: 10px;
    border: 4px solid #CCC;    
}
.new-desc{
	display: none;	    
    position: absolute;
    left: 50%;
    top: 200px;
    background-color: #e5e5e5;
    z-index: 100;
    height: 190px;    
    width: 350px;
    margin-left: -175px;
    border-radius: 5px;
    padding: 10px;
    border: 4px solid #CCC;    
}
.new-desc textarea{
	width: 100%;
	font-size: 12px;
	height: 70px;
}
#sortable { list-style-type: none; margin: 0; padding: 0; }
  #sortable li { margin:0px;}

.card-options{
	text-align: right;	
	padding: 4px;
}

/**************************************************/
.ranking-card{  
  height: 180px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;

}
.name a{
  color:#000;
}
.col1{
  float: left;
  width: 28%;
  padding: 1%;
}
.col2{
  float: left;
  width: 60%;
  padding: 1%;
  height: 150px;
}
.col3{
  float: left;
  width: 9%;
  padding: 1%;
  text-align: right;
}
.ranking-pos{
  border-radius: 3px;
  background-color: #ff225c ;
  width: 100px;
  padding: 15px 10px;
  color:#FFF;
  text-align: left;
}
.ranking-img {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;  
  position: absolute;
  margin-left: 45px;
}
.ranking-img img {
  display: block;
  min-width: 100%;
  min-height: 100%; 
  width: 120px;
}
.followers{
  font-size: 15px;
  font-weight: bold;  
  padding: 10px 0;
}
.name{
  font-size: 24px;
  font-weight: bold;  
}
.ad{    
  text-align: center;
  position: fixed;
  top: 150px;  
}
.mini{
  display: none;
}
/**************************************************/

#menu-toggle-btn{
    margin: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px; 
    margin-top: 25px;  
    float: right; 
    display: none;
    margin-right: 0px;

}

.menu-line{
        background-color: #ff225c;
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        margin-bottom: 5px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.3s linear;
    }

}