@media (max-width:666px){

.logo{  
  margin: 0 auto;
}.logo img{
  text-align: center;
}
.nav{
  float: right;
  font-size: 14px;
}
/**************************************************/
.ranking-card{      
  border-bottom: 1px solid #e5e5e5;
  padding: 1%;    
  height: auto;
}
.name a{
  color:#000;
}
.col1{
  float: left;
  width: 22%;
  padding: 1%;
}
.col2{
  float: left;
  width: 74%;
  padding: 1%; 
  height: auto; 
}
.col3{
  float: left;
  width: 9%;
  padding: 1%;
  text-align: right;
}

.ranking-pos{
  border-radius: 3px;
  background-color: #ff225c ;  
  padding: 5px 15px;
  color:#FFF;
  width: 60px;
  margin-top: 5px;
  font-size: 12px;  
}
.ranking-img {
  border-radius: 50%;  
  width: 60px;
  height: 60px;    
  float: none;
  position: static;
  margin-left: 0px;
}
.ranking-img img {
  display: block;
  min-width: 100%;
  min-height: 100%; 
  width: 60px;
  float: none;
}
.ranking-position{
	width: 30px;
  position: absolute;
  right: 15px;
}
.followers{
  font-size: 10px;
  font-weight: bold;  
  padding: 5px 0;
}
.name{
  font-size: 14px;
  font-weight: bold;  
}
.ad{
  text-align: center;   
  position:static;
  top:0;
  display: none;  
}
.mini{
  display: block;
  visibility: visible;
  height: auto;
  text-align: center;
  background-color: #e5e5e5;
  margin-bottom:10px;
}
.nav-pills{    
  display: none;
}
/**************************************************/


} 