@media (max-width:991px){

/**************************************************/
.ranking-card{    
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;
  height: auto;
}
.name a{
  color:#000;
}
.col1{
  float: left;
  width: 20%;
  padding: 1%;
}
.col2{
  float: left;
  width: 68%;
  padding: 1%;  
  height: auto; 
}
.col3{
  float: left;
  width: 9%;
  padding: 1%;
  text-align: right;
}

.ranking-pos{
  border-radius: 3px;
  background-color: #ff225c ;  
  padding: 5px 15px;
  color:#FFF;
  width: 60px;
  margin-top: 5px;
  text-align: center;
}
.ranking-img {
  border-radius: 50%;  
  width: 60px;
  height: 60px;    
  float: none;
  position: static;
  margin-left: 0px;
}
.ranking-img img {
  display: block;
  min-width: 100%;
  min-height: 100%; 
  width: 60px;
  float: none;
}
.ranking-position{
	width: 40px;
  position: absolute;  
  right: 15px;
}
.followers{
  font-size: 12px;
  font-weight: bold;  
  padding: 10px 0;
}
.name{
  font-size: 16px;
  font-weight: bold;  
}
.ad{
  text-align: center;   
  position:static;
  top:0;
  display: none;  
}
.mini{
  display: block;
  visibility: visible;
  height: auto;
  text-align: center;
  background-color: #e5e5e5;
}
.nav-pills{    
    display: none;        
}
/**************************************************/
#menu-toggle-btn{
    display: block;
}
.over{
  background-color: #ff225c;
}
.nav{
  display: none;
  background-color: #ff225c;
  border-radius: 5px;
  width: 98%;
  padding: 1%;
  text-align: center;
}
.nav-pills > li{
  
}
.nav-pills, .nav-pills > li > a{
  font-weight: normal;
  font-family: 'ARoman';
  font-size: 12px;
  color:#FFF;
  border-radius: 5px;
  margin: 0 auto;
}
.nav-pills > li > a:hover{
  color:#ff225c;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  text-decoration: none;
  border-radius:5px;  
    color: #FFF !important;
  background-color: #ff225c !important;
}

.box-text{
  font-size: 12px;
}

#main_intro{
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}

.sizeMain{font-size: 16px;}
h1{
  font-size: 60px;
  line-height: 55px;
  padding-bottom: 10px;
}
h2{
  font-size: 25px;
  padding: 50px 0px;
}
.mainDownload{
  text-align: center;
}
.mainDownload img{
  width: 140px;
}
.cardInfluencer{
  text-align: center;  
  width: 80%;  
  margin: 0 auto;
}
.box-social{height: auto; padding-bottom: 50px;}
.footerLogo{
  padding-top: 30px;
}